body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f7e6ff;
}

.container {
    width: 350px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #ccc;
    margin-top: 100px;
}
.photo img{
    width: 100px;
    height:60px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #6a0dad;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #5a0cb5;
}

#message {
    margin-top: 15px;
    font-weight: bold;
}